<p>Escolha a opção desejada:</p>
<mat-tab-group>
  <mat-tab label="Calculadora"><calculadora></calculadora></mat-tab>
  <mat-tab label="Aumentar/Diminuir"><app-somardiminuir></app-somardiminuir></mat-tab>
  <mat-tab label="Juros Compostos"><app-juros-compostos></app-juros-compostos></mat-tab>
  <mat-tab label="Formulário"><app-formulario></app-formulario></mat-tab>
</mat-tab-group>

<!-- &nbsp;<button (click)="mostrarElementos('calculadora')" mat-stroked-button color="primary">Calculadora</button>
&nbsp;<button (click)="mostrarElementos('somardiminuir')" mat-stroked-button color="primary">
  Aumentar/Diminuir
</button>
&nbsp;<button (click)="mostrarElementos('jurosCompostos')"type="button" mat-stroked-button color="primary">
  Juros Compostos
</button>
&nbsp;<button (click)="mostrarElementos('formulario')" type="button" mat-stroked-button color="primary">Formulário</button>
<br><br> -->
<div [ngSwitch]="opcao">
  <calculadora *ngSwitchCase="'calculadora'"></calculadora>
  <app-somardiminuir *ngSwitchCase="'somardiminuir'"></app-somardiminuir>
  <app-juros-compostos *ngSwitchCase="'jurosCompostos'"></app-juros-compostos>
  <app-formulario *ngSwitchCase="'formulario'"></app-formulario>
</div>
